<ion-view>
	<ion-nav-title>{{ title }}</ion-nav-title>
	<ion-content class="padding">
		<ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="loaded" on-refresh="refreshListaClase()"></ion-refresher>
		<mm-loading hide-until="loaded">
	        <ul class="list">
	        	<li class="item" ng-class="{'item-checkbox': id_evento>0}" ng-repeat="alumno in alumnos" >
	        		<label ng-if="id_evento > 0" class="checkbox"><input type="checkbox" ng-click="seleccionar( alumno.id );$event.stopPropagation();" /></label>
	        		{{alumno.num}}.- {{alumno.fullname}} 
	        		<span class="badge badge-assertive"><span ng-if='alumno.asistencia'>{{ alumno.asistencia }}</span><span ng-if="alumno.asistencia && alumno.actitud">&nbsp;|&nbsp;</span><span ng-if='alumno.actitud'>{{ alumno.actitud }}</span><span ng-if="( alumno.asistencia || alumno.actitud ) && alumno.observacion">&nbsp;|&nbsp;</span><span ng-click='muestraObservacion(alumno.observacion);' ng-if='alumno.observacion'>O</span></span>
	        	</li>
	        </ul>
	        <div ng-if="!alumnos || alumnos.length <= 0" class="padding">
	        	<p>{{ 'mma.sallenet.nohayalumnos' | translate }}</p>
	        </div>
		</mm-loading>
	</ion-content>
	<div class="bar bar-subfooter wrapper" ng-if="( id_evento > 0 )">
	
		<div class='row tabs-icon-left button-bar' ng-if="isAppOnLine()" style="background-color: #2a4291">
			<a class="col-17">Asistencia</a>
			<div ng-repeat="item in items_asistencia" class="tab-item active col">
					<button  class ="itemsn col-17" style='color:#B483FF;font-size: 100%;background-color:{{item.color}}' ng-click="setIncidencia(id_evento,item.id,1,'',item.abreviatura);"></button>
					<a class="col-17">{{ item.abreviatura }}</a>
			</div>
			<div class="tab-item active col-15">
				<button class="button button-inci icon ion-trash-b" style="color:#f8dd1f"  ng-click='setIncidencia(id_evento,-232,1,"","");'></button>
			</div>
		</div>
	</div>
	<div class="bar bar-footer wrapper" ng-if="( id_evento > 0 )">
		<div class="row tabs-icon-left  button-bar" ng-if="isAppOnLine()" style="background-color: #2a4291">
			<a class="col-17">Actitud</a>
			<div ng-repeat="item in items_actitud" class="tab-item active col">
				<button  class ="itemsn col-17" style='color:#B483FF;font-size: 100%;background-color:{{item.color}}' ng-click="setIncidencia(id_evento,item.id,2,'',item.abreviatura);"></button>
				<a class="col-17">{{ item.abreviatura }}</a>
			</div>
			<div class="tab-item active">
				<button class="button button-inci icon ion-trash-b" style="color: #f8dd1f" ng-click='setIncidencia(id_evento,-232,2,"","");'></button>
			</div>
		</div>
	</div>
<p ng-if="!isAppOnLine();">{{ 'mma.sallenet.paraestablecerincidenciascontectate' | translate }}</p>
</ion-view>