input.mma-sallenet-picker {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  outline: none;
}
#herramientas { padding: 0.5em; float:left;position:absolute;z-index:3; }
#herramientas h3 { text-align: center; font-size:1em; margin: 0; }
.draggable { height: 100px; padding: 5px; float: left; margin: 0px ; font-size: .9em;z-index:1; }
.ui-widget-header p, .ui-widget-content p { margin: 0; }
.pupitre {border: 1px solid;float: left; }
.seleccionado {background-color:green;}
.cabecera_bloqueada{color:white;background-color:#2d6ca2;padding:3px;margin:3px;font-size:10px;overflow:hide;height:15px;}
.cabecera_desbloqueada{color:white;background-color:red;padding:3px;margin:3px;font-size:10px;overflow:hide;height:15px;}

.mma-sallenet-input-inset {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.bar-content {
  border-color: transparent;
  background-color: #2C7AFF;
  background-image: linear-gradient(0deg, transparent, transparent 50%, transparent 50%);
  color: #efb235; }
  .bar-content .title {
    color: #efb235; }
  .bar-content .button {
    border-color: transparent;
    background-color: #2C7AFF;
    color: #efb235; }
    .bar-content .button.active, .bar-content .button.activated .button.hover {
      border-color: transparent;
      background-color: #2C7AFF;
      box-shadow: inset 0 1px 4px rgba(239, 178, 53, 1); }

.bar-side-menu {
  border-color: transparent;
  background-color: #2C7AFF;
  background-image: linear-gradient(0deg, transparent, transparent 50%, transparent 50%);
  color: #efb235;
  height: 80px !important; }
  .bar-side-menu .title {
    color: #efb235; }
  .bar-side-menu .item {
    background: transparent;
    border: none; }
  .bar-side-menu .item-avatar, .bar-side-menu .item-media {
    margin-top: 0px !important; }
    .bar-side-menu .item-avatar h2, .bar-side-menu .item-media h2, .bar-side-menu .item-avatar p, .bar-side-menu .item-media p {
      color: #efb235; }
